@model Domain.Entities.CheckLists.CheckListItem

@{
    ViewBag.Title = "Delete case item";
}

<h2>Delete case item</h2>

<h3>Are you sure you want to delete this case item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListItemIdPublic)
        </dd>

        <dt>
            Procedure : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure)
        </dd>

        <dt>
            Expected result : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedResult)
        </dd>

        <dt>
            Comment : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListComment)
        </dd>

        <dt>
            Last Execution
        </dt>

        <dd>
            <p>@Model.LastExecutionDateTime?.ToShortDateString()</p>
        </dd>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-danger pull-left" /> 
                @Html.ActionLink("Back to List", "Details","CheckLists",new{id=Model.CheckListId},new {@class = "btn btn-default pull-right"})
            </div>
        }
    </dl>

    
</div>
