@model Domain.Entities.CheckLists.CheckListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckListId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckListComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastExecutionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastExecutionDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckListItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
