@using Domain.Helpers
@model IEnumerable<Domain.Entities.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Add user", "Create",null,new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th style="text-align: center">
            Admin right
        </th>
        <th style="text-align: center">
            Test Creator right
        </th>
        <th style="text-align: center">
            Test Executor right
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.UserAdmin)
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.UserTestCreator)
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.UserTestExecutor)
        </td>
        <td>
            @if ((Repository.CurrentUser.UserId==item.UserId)||Repository.CurrentUser.UserAdmin)
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.UserId}, new {@class = "btn btn-default"})
            }
            @if (Repository.CurrentUser.UserAdmin)
            {
                @Html.ActionLink("Delete", "Delete", new {id = item.UserId}, new {@class = "btn btn-default"})
            }
        </td>
    </tr>
}

</table>
