@model Domain.Entities.TestCases.Case

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestCaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CasePreconditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CasePreconditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastExecutionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastExecutionDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
