@using Domain.Entities.CheckLists
@using Domain.Helpers
@model IEnumerable<Domain.Entities.CheckLists.CheckListEntity>


@{
    ViewBag.Title = "CheckLists";
}

<h2>CheckLists</h2>

<p>
    @Html.ActionLink("Create new CheckList", "Create",null,new{@class="btn btn-default"})
</p>
<table class="table">
    <tr>
        <th>
            CheckList
        </th>
        <th>
            Priority
        </th>
        <th>
            Last Editor
        </th>
        <th>
            Last Edition Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckListName)
            </td>
            <td>
                @if (Model != null)
                {
                    <span style="color: @item.Priority.PriorityColor">@item.Priority.PriorityName</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEditorCheckListUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEditionDateTime)
            </td>
            <td>
                @if (Repository.CurrentUser.UserTestCreator)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CheckListEntityId }, new { @class = "btn btn-default" })
                }@if (Repository.CurrentUser.UserTestExecutor)
                {
                    @Html.ActionLink("Execute", "Execute", new { id = item.CheckListEntityId }, new { @class = "btn btn-default" })
                }
                @if (Repository.CurrentUser.UserTestCreator)
                {
                    @Html.ActionLink("Details", "Details", new { id = item.CheckListEntityId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CheckListEntityId }, new { @class = "btn btn-default" })
                }
            </td>
        </tr>
    }

</table>
