@using Domain.Entities
@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Create CheckList";
}

<h2>Create CheckList</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4> Create CheckList</h4>
        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CheckListName, "Check List", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckListName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CheckListName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckListItemIdSuffix, "Suffix to Id for items", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckListItemIdSuffix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CheckListItemIdSuffix, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Priority, "Priority", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Priority.PriorityId, ViewBag.Priorities as SelectList,new { @class = "form-control" } )
            </div>
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Components, "Components", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
            @{
                List<Component> components = ViewBag.Components;
                foreach (var c in components)
                {
                    <input type="checkbox" name="selectedComponents" value="@c.ComponentId" />@c.ComponentName <br />
                }
            }
        </div>

        <div class="form-group" style=" margin-left: 10%; max-width: 22.5%;">
                @Html.ActionLink("Back to List", "CheckLists",null,new{@class="btn btn-default pull-left"})
                <input type="submit" value="Create" class="btn btn-success pull-right"/>
        </div>
    </div>
}

<div>
   
</div>
