@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this CheckList?</h3>
<div>
    <h4>CheckListEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            CheckList :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListName)
        </dd>

        <dt>
            Priority
        </dt>

        <dd>
            <span style="color: @Model.Priority.PriorityColor">@Model.Priority.PriorityName</span>
        </dd>

        <dt>
            Creator
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorCheckListUser.UserName)
        </dd>
        <dt>
            Components
        </dt>
        <dd>
            <ul>
                @foreach (var c in Model.Components)
                {

                    <li>@c.ComponentName</li>
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            @Html.ActionLink("Back to List", "CheckLists", null, null, new { @class = "btn btn-default pull-left" })
            <input type="submit" value="Delete" class="btn btn-danger pull-right" />
        </div>
    }
</div>
