
@using Domain.Helpers
@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckListEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Check List:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListName)
        </dd>
        <dt>
            Last Edition:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditionDateTime)
        </dd>
        <dt>
            Priority
        </dt>

        <dd>
            <span style="color: @Model.Priority.PriorityColor">@Model.Priority.PriorityName</span>
        </dd>
        <dt>
            Components
        </dt>
        <dd class="tooltip">
            <ul>
                @foreach (var c in Model.Components)
                {

                    <li>@c.ComponentName</li>
                }
            </ul>
        </dd>

    </dl>
    @if (Repository.CurrentUser.UserTestCreator)
    {
        <p>
            @Html.ActionLink("Create New", "Create", "CheckListItems", new { id = Model.CheckListEntityId }, new { @class = "btn btn-default" })
        </p>
    }

    <table class="table">
        <tr style="max-width: 10%">
            <th>
                Id
            </th>
            <th style="max-width: 25%">
                Procedure
            </th>
            <th>
                Expected Result
            </th>
            <th style="max-width: 25%">
                Test Result
            </th>
            <th style="max-width: 20%">
                Comment
            </th>
            <th>
                Last Executor
            </th>
            <th style="max-width: 20%">
                Last Execution
            </th>
            @if (Repository.CurrentUser.UserTestCreator)
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model.CheckListItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckListItemIdPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Procedure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedResult)
                </td>
                <td>
                    <span style="color: @item.CheckListTestResult.TestResultColor">@item.CheckListTestResult.TestResultValue</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckListComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastExecutorCheckListUser.UserName)
                </td>
                <td>
                    <span>
                        @(item.LastExecutionDateTime.HasValue ? item.LastExecutionDateTime.Value.ToShortDateString() : "")
                    </span>
                </td>
                @if (Repository.CurrentUser.UserTestCreator)
                {
                    <td>

                        @Html.ActionLink("Edit", "Edit", "CheckListItems", new { id = item.CheckListItemId }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", "CheckListItems", new { id = item.CheckListItemId }, new { @class = "btn btn-default" })

                    </td>
                }
            </tr>
        }
    </table>
</div>
<p>
    @if (Repository.CurrentUser.UserTestCreator)
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.CheckListEntityId},new{@class="btn btn-default"})
    }
    @Html.ActionLink("Back to List", "CheckLists",null,new{@class="btn btn-default"})
</p>
