@using Domain.Entities
@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckListEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Check List: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckListName)
        </dd>
        <dt>
            Last Edition:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditionDateTime)
        </dd>
        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority.PriorityDescription)
        </dd>
        <dt>
            Components
        </dt>
        <dd class="tooltip">
            <ul>
                @foreach (Component c in Model.Components)
                {

                    <li>@c.ComponentName</li>
                }
            </ul >
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Create New", "Create", "CheckListItems",new { id = Model.CheckListEntityId }, new { @class = "btn btn-default" })
    </p>

    <table class="table">
        <tr>
            <th style="max-width: 25%">
                Procedure
            </th>
            <th >
                Expected Result
            </th>
            <th style="max-width: 25%">
                Test Result
            </th>
            <th style="max-width: 25%">
                Comment
            </th>
            <th>
                Last Executor
            </th>
            <th style="max-width: 20%">
                Last Execution
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.CheckListItems) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Procedure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckListTestResult.TestResultDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckListComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastExecutorCheckListUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastExecutionDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","CheckListItems", new { id = item.CheckListItemId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", "CheckListItems",new { id = item.CheckListItemId }, new { @class = "btn btn-default" })
        </td>
    </tr>
    }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckListEntityId }) |
    @Html.ActionLink("Back to List", "CheckLists")
</p>
