@using Domain.Entities
@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Execute CheckList";
}

<h2>Check List Execution</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Check List :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckListName)
            </dd>
            <dt>
                Last Edition Date :
            </dt>

            <dd>
                <span>@Model.LastEditionDateTime.ToShortDateString()</span>
            </dd>
            <dt>
                Priority :
            </dt>

            <dd>
                <span style="color: @Model.Priority.PriorityColor">@Model.Priority.PriorityName</span>
            </dd>
            <dt>
                Components :
            </dt>
            <dd>
                <ul style="margin-left: -1.5%;">
                    @foreach (Component c in Model.Components)
                    {
                        <li>@c.ComponentName</li>
                    }
                </ul>
            </dd>

        </dl>

        <table class="table table-bordered">
            <tr>
                <th style="width: 5%">
                    Id
                </th>
                <th style="width: 25%">
                    Procedure
                </th>
                <th style="width: 15%">
                    Expected Result
                </th>
                <th style="width: 15%">
                    Test Result
                </th>
                <th style="width: 20%">
                    Comment
                </th>
                <th style="width: 10%">
                    Last Executor
                </th>
                <th style="width: 10%">
                    Last Execution Date
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CheckListItems)
            {
                <tr>
                    <td style="width: 5%">
                        @Html.DisplayFor(modelItem => item.CheckListItemIdPublic)
                    </td>
                    <td style="width: 25%">
                        @Html.DisplayFor(modelItem => item.Procedure)
                    </td>
                    <td style="width: 15%">
                        @Html.DisplayFor(modelItem => item.ExpectedResult)
                    </td>
                    <td style="width: 15%">
                        @Html.DropDownListFor(modelItem => item.CheckListTestResult.TestResultId, ViewBag.TestResults as SelectList,new { @class = "form-control" } )
                    </td>
                    <td style="width: 20%">
                        @Html.EditorFor(modelItem => item.CheckListComment,new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastExecutorCheckListUser.UserName)
                    </td>
                    <td style="width: 10%">
                        <span>
                            @(item.LastExecutionDateTime.HasValue ? item.LastExecutionDateTime.Value.ToShortDateString() : "")
                        </span>
                    </td>
                    <td style="width: 10%">
                        <input value="Save Execute" type="button" class="btn btn-success _saveExecute" data-id="@item.CheckListItemId" />
                    </td>
                </tr>
            }
        </table>


    </div>
    <p>
        @Html.ActionLink("Back to List", "CheckLists", null, new { @class = "btn btn-default " })
    </p>
}


