@using Domain.Entities
@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Execute CheckList";
}

<h2>Check List Execution</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Check List:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckListName)
            </dd>
            <dt>
                Last Edition:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastEditionDateTime.ToShortDateString())
            </dd>
            <dt>
                Priority
            </dt>

            <dd>
                <span style="color: @Model.Priority.PriorityColor">@Model.Priority.PriorityName</span>
            </dd>
            <dt>
                Components
            </dt>
            <dd>
                <ul>
                    @foreach (Component c in Model.Components)
                    {
                        <li>@c.ComponentName</li>
                    }
                </ul>
            </dd>

        </dl>

        <table class="table table-bordered">
            <tr style="max-width: 10%">
                <th>
                    Id
                </th>
                <th style="max-width: 25%">
                    Procedure
                </th>
                <th>
                    Expected Result
                </th>
                <th style="max-width: 25%">
                    Test Result
                </th>
                <th style="max-width: 20%">
                    Comment
                </th>
                <th>
                    Last Executor
                </th>
                <th style="max-width: 20%">
                    Last Execution
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CheckListItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckListItemIdPublic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procedure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedResult)
                    </td>
                    <td>
                        @Html.DropDownListFor(modelItem => item.CheckListTestResult.TestResultId, ViewBag.TestResults as SelectList)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.CheckListComment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastExecutorCheckListUser.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastExecutionDateTime.Value.ToShortDateString())
                    </td>
                    <td>
                        <input value="Save Execute" type="button" class="btn btn-success _saveExecute" data-id="@item.CheckListItemId" />
                    </td>
                </tr>
            }
        </table>


    </div>
    <p>
        @Html.ActionLink("Back to List", "CheckLists", null, new { @class = "btn btn-default " })
    </p>
}


