@using Domain.Entities
@model Domain.Entities.CheckLists.CheckListEntity

@{
    ViewBag.Title = "Execute CheckList";
}

<h2>Check List Execution</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                Check List:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckListName)
            </dd>
            <dt>
                Last Edition:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastEditionDateTime)
            </dd>
            <dt>
                Priority
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Priority.PriorityDescription)
            </dd>
            <dt>
                Components
            </dt>
            <dd class="tooltip">
                @foreach (Component c in Model.Components)
                {
                    <ul>
                        <li>@c.ComponentName</li>

                    </ul>
                    <span class="tooltip-arrow">@c.ComponentDescription</span>
                }
            </dd>

        </dl>

        <table class="table">
            <tr>
                <th>
                    Procedure
                </th>
                <th>
                    Expected Result
                </th>
                <th>
                    Test Result
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Last Executor
                </th>
                <th>
                    Last Execution
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CheckListItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Procedure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedResult)
                    </td>
                    <td>
                        @Html.DropDownListFor(modelItem => item.CheckListTestResult.TestResultId, ViewBag.TestResults as SelectList)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.CheckListComment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastExecutorCheckListUser.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastExecutionDateTime)
                    </td>
                    <td>
                        <input value="Save Execute" class="btn btn-default _saveExecute" data-id="@item.CheckListItemId" />
                        @Html.ActionLink("Details", "Details", "CheckListItems", new { id = item.CheckListItemId }, new { @class = "btn btn-default" })

                    </td>
                </tr>
            }
        </table>


    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.CheckListEntityId},new { @class = "btn btn-default" })
        @Html.ActionLink("Back to List", "CheckLists",null,new { @class = "btn btn-default" })
    </p>
}


