@using Domain.Entities.CheckLists
@model IEnumerable<Domain.Entities.CheckLists.CheckListEntity>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditionDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CheckListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditionDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckListEntityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckListEntityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheckListEntityId })
        </td>
    </tr>
}

</table>
