@model Domain.Entities.Priority

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Priority?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityName)
        </dd>
        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityName)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions" style=" margin-left: 10%; max-width: 22.5%;">
            @Html.ActionLink("Back to List", "Index", null,new{@class="btn btn-default pull-left"})
            <input type="submit" value="Delete" class="btn btn-danger pull-right" />
        </div>
    }
</div>
