@using Domain.Helpers
@model IEnumerable<Domain.Entities.Priority>

@{
    ViewBag.Title = "Priorities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Priorities</h2>

@if (Repository.CurrentUser.UserAdmin)
{
    <p>
        @Html.ActionLink("Create new Priority", "Create", null, new { @class = "btn btn-success" })
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            Priority
        </th>
        <th>
            Description
        </th>
        @if (Repository.CurrentUser.UserAdmin)
        {
            <th style="width: 10%"></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span style="color: @item.PriorityColor">@item.PriorityName</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityDescription)
            </td>

            @if (Repository.CurrentUser.UserAdmin)
            {
                <td style="width: 10%; text-align: center;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.PriorityId }, new { @class = "btn btn-default" })
                    if (item.PriorityId != 1)
                    {
                    @Html.ActionLink("Delete", "Delete", new { id = item.PriorityId }, new { @class = "btn btn-danger" })
                    }
                </td>
            }

        </tr>
    }

</table>
