@model Domain.Entities.TestCases.TestCaseEntity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h4>Are you sure you want to delete this Test Case?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Test Case :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestCaseName)
        </dd>

        <dt>
            Descriptions :
        </dt>
        <dd style="width: 50%">
            @Html.DisplayFor(model => model.TestCaseDescription)
        </dd>
        <dt>
            Priority :
        </dt>

        <dd>
            <span style="color: @Model.Priority.PriorityColor">@Model.Priority.PriorityName</span>
        </dd>
        <dt>
            Last Edition :
        </dt>
        <dd>
            <span>@Model.LastEditionDateTime.ToShortDateString()</span>
        </dd>
        <dt>
            Components :
        </dt>
        <dd>
            <ul style="margin-left: -1.5%;">
                @foreach (var c in Model.Components)
                {

                    <li>@c.ComponentName</li>
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions" style=" margin-left: 3%; max-width: 22.5%;">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default pull-left" })
            <input type="submit" value="Delete" class="btn btn-danger pull-right" />
        </div>
    }
</div>
