@using Domain.Entities.TestCases
@using Domain.Helpers
@model Domain.Entities.TestCases.TestCaseEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TestCaseEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Test Case:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCaseName)
        </dd>
        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCaseDescription)
        </dd>
        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorCaseUser.UserName)
        </dd>
        <dt>
            Last Editor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditorCaseUser.UserName)
        </dd>

        <dt>
            Last Edition:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditionDateTime)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Create New", "Create", "Cases", new { id = Model.TestCaseEntityId }, new { @class = "btn btn-default" })
    </p>
    <table class="table table-bordered table-sm">
        <tr>
            <th>
                Id
            </th>
            <th style="max-width: 20%">
                Summary
            </th>
            <th style="max-width: 20%">
                Preconditions
            </th>
            <th style="padding: 0">
                <table class="table-bordered">
                    <tr>
                        <th style="text-align: center" colspan="4">Case Steps</th>
                    </tr>
                    <tr>
                        <th style="width: 2%">
                            #
                        </th>
                        <th style="width: 37%">
                            Action
                        </th>
                        <th style="width: 37%">
                            Expected result
                        </th>
                        <th style="width: 24%">
                            Test result
                        </th>
                    </tr>
                </table>
            </th>
            <th>
                Comment
            </th>
            <th>
                Last Executor
            </th>
            <th>
                Last Execution
            </th>
            @if (Repository.CurrentUser.UserTestCreator)
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model.Cases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseIdPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CasePreconditions)
                </td>
                <td style="padding: 0">
                    <table class="table-bordered">

                        @foreach (var step in item.CaseSteps)
                        {
                            <tr>
                                <td style="width: 2%">
                                    @Html.DisplayFor(caseStep => step.CaseStepNumber)
                                </td>
                                <td style="width: 37%">
                                    @Html.DisplayFor(caseStep => step.CaseStepDescription)
                                </td>
                                <td style="width: 37%">
                                    @Html.DisplayFor(caseStep => step.CaseStepExpectedResult)
                                </td>
                                <td style="width: 24%">
                                    <span style="color: @step.CaseStepResult.TestResultColor">@step.CaseStepResult.TestResultValue</span>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastExecutorCaseUser.UserName)
                </td>
                <td>
                    <span>
                        @(item.LastExecutionDateTime.HasValue ? item.LastExecutionDateTime.Value.ToShortDateString() : "")
                    </span>
                </td>
                @if (Repository.CurrentUser.UserTestCreator)
                {
                    <td>

                        @Html.ActionLink("Edit", "Edit", "Cases", new { id = item.CaseId }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", "Cases", new { id = item.CaseId }, new { @class = "btn btn-default" })

                    </td>
                }
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestCaseEntityId },new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-default" })
</p>
