@using Domain.Entities.TestCases
@model Domain.Entities.TestCases.TestCaseEntity

@{
    ViewBag.Title = "Test Case run";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Case Run</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Test Case:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCaseName)
        </dd>
        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCaseDescription)
        </dd>
        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorCaseUser.UserName)
        </dd>
        <dt>
            Last Editor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditorCaseUser.UserName)
        </dd>

        <dt>
            Last Edition:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditionDateTime)
        </dd>

    </dl>
    <table class="table table-bordered">
        <tr>
            <th style="max-width: 25%">
                Summary
            </th>
            <th>
                Preconditions
            </th>
            <th style="padding: 0">
                <table class="table-bordered">
                    <tr>
                        <th style="text-align: center" colspan="4">Case Steps</th>
                    </tr>
                    <tr>
                        <th style="width: 2%">
                            #
                        </th>
                        <th style="width: 37%">
                            Action
                        </th>
                        <th style="width: 37%">
                            Expected result
                        </th>
                        <th style="width: 24%">
                            Test result
                        </th>
                    </tr>
                </table>
            </th>
            <th>
                Comment
            </th>
            <th>
                Last Executor
            </th>
            <th>
                Last Execution
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Cases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CasePreconditions)
                </td>
                <td style="padding: 0">
                    <table class="table table-bordered">
                        @foreach (var step in item.CaseSteps)
                        {
                            <tr data-stepid="@step.CaseStepId">
                                <td>
                                    @Html.DisplayFor(caseStep => step.CaseStepNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(caseStep => step.CaseStepDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(caseStep => step.CaseStepExpectedResult)
                                </td>
                                <td>
                                    @Html.DropDownListFor(caseStep => step.CaseStepResult.TestResultId, ViewBag.TestResults as SelectList,new{@class="form-control"})
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.CaseComment,new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastExecutorCaseUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastExecutionDateTime)
                </td>
                <td>
                    <input value="Save Run" type="button" class="btn btn-success _saveTestEntitiesRun" data-id="@item.CaseId" />
                </td>
            </tr>
        }
    </table>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-default"})
</p>
