@using Domain.Helpers
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Manual Test Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-left">
                @if (Repository.CurrentUser.UserAdmin)
                {
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    <li>@Html.ActionLink("Test results", "TestResultsList", "TestResults")</li>
                    <li>@Html.ActionLink("Priorities" +
                                         "", "Index", "Priorities")</li>
                    <li>@Html.ActionLink("Components", "ComponentsList", "Components")</li>
                }
                @if (Repository.CurrentUser.UserTestExecutor || Repository.CurrentUser.UserTestCreator)
                {
                    <li>@Html.ActionLink("Test Cases", "About", "Home")</li>
                    <li>@Html.ActionLink("CheckLists", "CheckLists", "CheckLists")</li>
                }
            </ul>
            <<div class="navbar-collapse collapse pull-right" style="margin-top: 8px">
                @Html.Label(Repository.CurrentUser.UserName, new { style = "color:#BEBEBE; margin-top: 7px;" })
                @Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "btn btn-default pull-right", style = "margin-left: 10px; background-color:#222; color:#BEBEBE; border-color:#BEBEBE;" })
            </div>
        </div>
    </div>

</div>
